<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrinkFoodShop"
        tools:targetApi="31" >

        <activity
            android:name=".cart.viewholder_activity"
            android:exported="false" />
        <activity
            android:name=".Profile1.Profile1"
            android:exported="false" />
        <activity
            android:name=".help.CustomerSupportActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".detai_food.food_detail"
            android:exported="true" >

        </activity>

        <activity
            android:name=".theme.splashActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".home.trangChu"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Profile1.ProfileActivity"
            android:exported="true" >

        </activity>

        <activity
            android:name=".loginAndRegister.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".loginAndRegister.RegisterActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".loginAndRegister.intro"
            android:exported="true" />
    </application>

</manifest>